{% extends 'history_wiki/base-layout.html' %}
{% load static %}
{% block title %}Про сайт{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{% static 'history_wiki/styles/about-us.css' %}">
{% endblock %}
{% block content %}
	<section class="info">
		<h1 class="info__heading">Про сайт</h1>
		<div class="info__text">
			History Travel - веб-сайт про найдавніший період історії людства. Наша мета – виробляти контент, який допомагатиме здійснювати віртуально подорожі в доісторичний період часу...<br><br>
			Нам буде приємно, якщо на сайті Ви зможете знайти корисну для себе інформацію.<br><br>
			Команда сайту:<br>
			<ul>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;Степан Верхоляк</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;Станіслав Білійчук</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;Степан Мойсюк</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;Валентин Ткачук</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;Роман Теодорович</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;Олег Карп</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;Роман Роман</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;Святослав Тащук</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;Петро Беслюбняк</li>
			</ul>
		</div>
	</section>
{% endblock %}