{% extends 'history_wiki/base-layout.html' %}
{% load static %}
{% block title %}Про сайт{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{% static 'history_wiki/styles/about-us.css' %}">
{% endblock %}
{% block content %}
	<section class="info">
		<h1 class="info__heading">Про сайт</h1>
		<p class="info__text">Ми плануємо зробити легкий і усім доступний сайт , де  можна буде знайти все потрібну інформацію яка буде стосуватися історії минулого. джу кожному хочеться дізнатися щось цікавеньке у минулому але шукати цю інформцію дуже довго. Тому ми вирішили створити такий сайт як 'History Travel'.</p>
	</section>
{% endblock %}