{% extends 'history_wiki/base-layout.html' %}
{% load static %}
{% block title %}Категорії{% endblock %}
{% block page_description %}Всі статті сайту розбиті по категоріям{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{% static 'history_wiki/styles/categories.css' %}">
{% endblock %}
{% block content %}
	<section class="categories">
		<h1 class="categories__heading">Категорії</h1>
		{% for category in categories %}
			<a class="categories__item" href="{% url 'category' category.id %}"><h3>{{ category.name }}</h3></a>
		{% endfor %}
	</section>
{% endblock %}