{% load static %}
<!DOCTYPE html>
<html class="page">
	<head>
		<meta charset="utf-8">
		<title>History Travel</title>
		<link rel="stylesheet" href="{% static 'history_wiki/styles/reset.css' %}">
		<link rel="stylesheet" href="{% static 'history_wiki/styles/main.css' %}">
		<link rel="stylesheet" href="{% static 'history_wiki/styles/index.css' %}">
	</head>
	<body>
		<header class="header">
			<img class="header__logo" src="{% static 'history_wiki/images/logo.png' %}" alt="History Travel">
		</header>
		<main class="main-content">
			<aside class="sidebar">
				<nav class="sidebar__nav">
					<ul class="sidebar__nav-list">
						<li class="sidebar__item">
							<a class="sidebar__link" href="#">Головна</a>
						</li>
						<li class="sidebar__item">
							<a class="sidebar__link" href="#">Категорії</a>
						</li>
						<li class="sidebar__item">
							<a class="sidebar__link" href="#">Про сайт</a>
						</li>
					</ul>
				</nav>
			</aside>
			<aside class="top-panel">
				<nav class="top-panel__nav">
					<ul class="top-panel__nav-list">
						<li class="top-panel__item">
							<a class="top-panel__link" href="#">Пошук</a>
						</li>
					</ul>
				</nav>
			</aside>
			<article class="articles-list">
				{% if page != None %}
					{% for post in page %}
						<section class="post">
							<a class="post__heading" href="#"><h3>{{ post.title }}</h3></a>
							<img class="post__image" src="{{ post.image.url }}">
							<p class="post__description">{{ post.description }}</p>
						</section>
					{% endfor %}
				{% endif %}
				{% if next_page != None %}
					<a href="{% url 'posts_list' next_page %}">Next</a>
				{% endif %}
			</article>
		</main>
		<footer class="footer">
			<small class="footer__copyright">Copyright &copy; 2018 <a class="footer__team-link" href="#">SoftWest</a></small>
		</footer>
	</body>
</html>