{% extends 'history_wiki/base-layout.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block page_description %}{{ post.description }}{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{% static 'history_wiki/styles/opened-article.css' %}">
{% endblock %}
{% block content %}
	<section class="article">
		<small class="article__category"><a class="article__category-link" href="{% url 'categories' %}">Категорії</a>/<a class="article__category-link" href="{% url 'category' post.category.id %}">{{ post.category}}</a></small>
		<h1 class="top-panel__link article__heading">{{ post.title }}</h1>
		{% autoescape off %}
		<div class="article__text">{{ post.text }}</div>
		{% endautoescape %}
		<ul class="article__info">
			<li class="article__item">Автор: {{ post.author }}</li>
			<li class="article__item">Опубліковано: {{ post.published_date }}</li>
		</ul>
	</section>
{% endblock %}